body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/donation1.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
  
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 34px;
    color: #fff;
}
.horo-btn{
    
      text-decoration: none;
      color: #fff;
      border: 3px solids;
      padding: 12px 34px ;
      font-size: 23px;
     border-radius: 5%;
      background-image: linear-gradient( rgb(211, 54, 23) ,tomato) ;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 46px;
    font-weight: 600;
    color: black;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top:10% 
  
    
 }
.course-col{
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 20px;
}
#cole{
    border-left: 2px solid tomato ;
    border-right: 2px solid tomato;
    border-top: 2px solid tomato;
    border-bottom: 2px solid tomato;
}
.underline{
    padding-bottom: 0%;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 2px solid gray;
}



.roll{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}
.course-cole{
    margin-bottom: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    flex-basis: 30%;
    padding: 10px 20px;
    box-shadow: #777;
    box-sizing: border-box;
}
#first-pic{
    background-image: url(icons/food.png);
    background-color: antiquewhite;
    background-repeat: no-repeat;
}
#second-pic{
    background-image: url(icons/shelter.png);
    background-color: #f0f8ff;
    background-repeat: no-repeat;
}
#third-pic{
    background-color:#deb887 ;
    background-repeat: no-repeat;
    background-image: url(icons/Frame-1.png);
}
.third-section{
    display: flex;
    padding-top: 200px;
}
.third-section h1{
    font-size: 50px;
}
.third-div{
    white: 55% ;
    padding: 5%;
}







footer{
    background-color: black;
    font-size: 700;
    color: tomato;
    border-radius: 5px;

   
    
}
.footer{
    margin-top: 150px;
}
#last{
    background-color:#deb887 ;
    height: 150px;
    border-radius: 3px;
    margin-left: 100px;
    margin-right: 100px;
}
#last-one{
    background-color: antiquewhite;
    margin-top: 60px;
    padding: 8px 34px;
    border-radius: 5px;
    border: 0ex;
}
#second-one{
background-color: tomato;
padding: 9px 20px;
border-radius: 5px;
border:0px;
}














